.all-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

@media screen and (max-width: 345px) {
  .logo {
    height: 100px;
    width: 100px;
  }

  .header-title {
    font-size: 1.5em;
    top: -5px;
  }

  .header-subtitle {
    font-size: 0.75em;
  }

  .about {
    font-size: 2em;
  }

  .about p {
    font-size: 0.6em;
    text-align: left;
    padding-left: 10px;
  }

  .resume {
    font-size: 2em;
  }

  .resume h3 {
    font-size: 0.75em;
  }

  .icon {
    width: 100px;
    height: 100px;
  }

  .tag-line {
    font-size: 2.5em;
  }

  .portfolio {
    font-size: 2em;
  }

  .project-box p {
    font-size: 0.5em;
    text-align: left;
    padding-left: 10px;
  }

  .project-box p.title {
    text-align: center;
    font-size: 0.75em;
  }
}

@media screen and (min-width: 346px) and (max-width: 425px) {
  .logo {
    height: 125px;
    width: 125px;
  }

  .header-title {
    font-size: 1.75em;
    top: -5px;
  }

  .header-subtitle {
    font-size: 0.8em;
  }

  .about {
    font-size: 2em;
  }

  .about p {
    font-size: 0.65em;
    text-align: left;
    padding-left: 10px;
  }

  .resume {
    font-size: 2em;
  }

  .resume h3 {
    font-size: 0.75em;
  }

  .icon {
    width: 125px;
    height: 125px;
  }

  .tag-line {
    font-size: 2.5em;
  }

  .portfolio {
    font-size: 2em;
  }

  .project-box p {
    font-size: 0.5em;
    text-align: left;
    padding-left: 10px;
  }

  .project-box p.title {
    text-align: center;
    font-size: 1em;
  }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
  .logo {
    height: 150px;
    width: 150px;
  }

  .header-title {
    font-size: 2em;
    top: -10px;
  }

  .header-subtitle {
    font-size: 1em;
  }

  .about {
    font-size: 2em;
  }

  .about p {
    font-size: 0.5em;
    text-align: left;
    padding-left: 10px;
  }

  .resume {
    font-size: 2em;
  }

  .resume h3 {
    font-size: 1em;
  }

  .icon {
    width: 150px;
    height: 150px;
  }

  .tag-line {
    font-size: 2.75em;
  }

  .portfolio {
    font-size: 2em;
  }

  .project-box p {
    font-size: 0.5em;
    text-align: left;
    padding-left: 10px;
  }

  .project-box p.title {
    text-align: center;
    font-size: 1em;
  }
}

@media screen and (min-width: 601px) and (max-width: 790px) {
  .header-title {
    font-size: 3em;
    top: -10px;
  }

  .header-subtitle {
    font-size: 1.5em;
    top: 35px;
    right: 25px;
  }

  .about {
    font-size: 2em;
  }

  .about p {
    font-size: 0.5em;
    text-align: left;
    padding-left: 15px;
  }

  .resume {
    font-size: 2em;
  }

  #MST {
    width: 180px;
    height: 180px;
    border-radius: 180px;
  }

  #SHPD {
    width: 180px;
    height: 180px;
    border-radius: 180px;
  }

  #GoG {
    width: 180px;
    height: 180px;
    border-radius: 180px;
  }

  #FEND {
    width: 180px;
    height: 180px;
    border-radius: 180px;
  }

  .resume h3 {
    font-size: 0.75em;
  }

  .icon {
    width: 75px;
    height: 75px;
  }

  .tag-line {
    font-size: 3em;
  }

  .portfolio {
    font-size: 2em;
  }

  .project-box {
    width: 31.66%;
    vertical-align: top;
  }

  .project-box img {
    width: 95%;
  }

  .project-box p {
    font-size: 0.5em;
    text-align: left;
    padding-left: 15px;
  }

  .project-box p.title {
    text-align: center;
    font-size: 1em;
  }
}

@media screen and (max-width: 750px) {
  #MST {
    width: 250px;
    height: 250px;
    border-radius: 250px;
  }

  #SHPD {
    width: 250px;
    height: 250px;
    border-radius: 250px;
  }

  #GoG {
    width: 250px;
    height: 250px;
    border-radius: 250px;
  }

  #FEND {
    width: 250px;
    height: 250px;
    border-radius: 250px;
  }

  .resume h3 {
    font-size: 1em;
  }

  .icon {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 791px) and (max-width: 1279px) {
  .header-title {
    font-size: 4em;
    top: -25px;
  }

  .header-subtitle {
    font-size: 2em;
    top: 35px;
    right: 25px;
  }

  .about {
    width: 50%;
    font-size: 2em;
  }

  .about p {
    font-size: 0.65em;
    text-align: left;
    padding-left: 15px;
  }

  .resume {
    width: 50%;
    font-size: 2em;
  }

  #MST {
    width: 175px;
    height: 175px;
    border-radius: 175px;
  }

  #SHPD {
    width: 175px;
    height: 175px;
    border-radius: 175px;
  }

  #GoG {
    width: 175px;
    height: 175px;
    border-radius: 175px;
  }

  #FEND {
    width: 175px;
    height: 175px;
    border-radius: 175px;
  }

  .resume h3 {
    font-size: 0.5em;
  }

  .icon {
    width: 100px;
    height: 100px;
  }

  .tag-line {
    font-size: 3em;
  }

  .portfolio {
    font-size: 2em;
  }

  .project-box {
    width: 31.66%;
    vertical-align: top;
  }

  .project-box img {
    width: 95%;
  }

  .project-box p {
    font-size: 0.5em;
    text-align: left;
    padding-left: 15px;
  }

  .project-box p.title {
    text-align: center;
    font-size: 1em;
  }
}

@media screen and (min-width: 1068px) {
  #MST {
    width: 190px;
    height: 190px;
    border-radius: 190px;
  }

  #SHPD {
    width: 190px;
    height: 190px;
    border-radius: 190px;
  }

  #GoG {
    width: 190px;
    height: 190px;
    border-radius: 190px;
  }

  #FEND {
    width: 190px;
    height: 190px;
    border-radius: 190px;
  }

  .resume h3 {
    font-size: 0.5em;
  }

  .icon {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 1149px) {
  #MST {
    width: 210px;
    height: 210px;
    border-radius: 210px;
  }

  #SHPD {
    width: 210px;
    height: 210px;
    border-radius: 210px;
  }

  #GoG {
    width: 210px;
    height: 210px;
    border-radius: 210px;
  }

  #FEND {
    width: 210px;
    height: 210px;
    border-radius: 210px;
  }

  .resume h3 {
    font-size: 0.7em;
  }

  .icon {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 1280px) {
  main,
  .header-banner,
  .all-content {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-banner {
    height: 210px;
  }

  .logo {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .header-title {
    font-size: 4em;
    top: -25px;
  }

  .header-subtitle {
    font-size: 2em;
    top: 35px;
    right: 25px;
  }

  .about {
    width: 50%;
    font-size: 2em;
  }

  .about p {
    font-size: 0.75em;
    text-align: left;
    padding-left: 15px;
  }

  .resume {
    width: 50%;
    font-size: 2em;
  }

  #MST {
    width: 225px;
    height: 225px;
    border-radius: 225px;
  }

  #SHPD {
    width: 225px;
    height: 225px;
    border-radius: 225px;
  }

  #GoG {
    width: 225px;
    height: 225px;
    border-radius: 225px;
  }

  #FEND {
    width: 225px;
    height: 225px;
    border-radius: 225px;
  }

  .resume h3 {
    font-size: 0.75em;
  }

  .icon {
    width: 115px;
    height: 115px;
  }

  .tag-line {
    font-size: 3em;
  }

  .portfolio {
    font-size: 2em;
  }

  .project-box {
    width: 31.66%;
    vertical-align: top;
  }

  .project-box img {
    width: 95%;
  }

  .project-box p {
    font-size: 0.5em;
    text-align: left;
    padding-left: 15px;
  }

  .project-box p.title {
    text-align: center;
    font-size: 1em;
  }
}
